/.github export-ignore
/spec export-ignore
/tests export-ignore
/.auto-changelog export-ignore
/.editorconfig export-ignore
/.envrc export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.prettierignore export-ignore
/.prettierrc export-ignore
/CHANGELOG.md export-ignore
/LICENSE export-ignore
/README.md export-ignore
/grumphp.yml export-ignore
/infection.json export-ignore
/phpspec.yml export-ignore
/phpstan.neon export-ignore
/psalm.xml export-ignore
/renovate.json export-ignore
